@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Medium'), url('./assets/font/PlusJakartaSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Bold'), url('./assets/font/PlusJakartaSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Bold Italic'), url('./assets/font/PlusJakartaSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans ExtraBold'), url('./assets/font/PlusJakartaSans-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans ExtraBold Italic'), url('./assets/font/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans ExtraLight'), url('./assets/font/PlusJakartaSans-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans ExtraLight Italic'), url('./assets/font/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Light'), url('./assets/font/PlusJakartaSans-Light.woff') format('woff');
}

@font-face {
    font-family: "Plus Jakarta Sans Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Plus Jakarta Sans Light Italic"), url("./assets/font/PlusJakartaSans-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Plus Jakarta Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Medium Italic'), url('./assets/font/PlusJakartaSans-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans Medium'), url('./assets/font/PlusJakartaSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans SemiBold'), url('./assets/font/PlusJakartaSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Plus Jakarta Sans SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Plus Jakarta Sans SemiBold Italic'), url('./assets/font/PlusJakartaSans-SemiBoldItalic.woff') format('woff');
}